@media only screen and (max-width: 1200px) {
    .about__inner {
        flex-direction: column;
    }
    .about__block-text {
        margin-bottom: 50px;
    }
    .about__block-item {
        width: 100% !important;
    }
    .why__block {
        width: 100% !important;
    }
}
@media only screen and (max-width: 1000px) {
    .main {
        height: 100% !important;
        overflow: hidden;
    }
    .main__block-woman {
        position: relative !important;
        width: 100% !important;
    }
    .main__image-line {
        width: 180% !important;
    }
    .links__inner {
        flex-direction: column;
    }
    .links__text {
        margin-bottom: 100px;
    }
    .links__buttons {
        width: 100% !important;
    }
    .iphone__container {
        position: relative;
    }
    .iphone__block-text {
        left: -90px !important;
    }
}
@media only screen and (max-width: 750px) {
    * {
        font-size: 16px !important;
    }
    h1, h2 {
        font-size: 40px !important;
    }
    h3 {
        font-size: 32px !important;
    }
    h4, .textSpan {
        font-size: 24px !important;
    }
    .header__button {
        display: none;
    }
    .header__burger {
        display: block !important;
    }
    .about__line {
        display: none;
    }
    .about__block-text {
        width: 290px !important;
    }
    .textSpan::before {
        right: 0;
        bottom: 0;
        width: 230px !important;
        height: 30px !important;
    }
    .statistic__inner {
        flex-direction: column;
    }
    .statistic__block {
        display: flex;
        align-items: center;
    }
    .statistic__block h2 {
        margin-right: 20px;
    }
    .why__block-image {
        position: relative !important;
        bottom: -50px !important;
    }
    .why__block {
        flex-direction: column-reverse;
    }
    .links__image {
        width: 35px !important;
        height: 35px !important;
    }
    .footer__block {
        flex-direction: column !important;
        align-items: flex-start !important;
    }
    .footer__menu-item {
        display: block !important;
        margin: 20px 0 !important;
    }
    .footer__market-item {
        display: block !important;
        margin: 20px 0 !important;
    }
}